<div class="col-xs-6 col-sm-3 sidebar-offcanvas" role="navigation">
    <ul class="list-group panel">
        <li class="list-group-item"><i class="glyphicon glyphicon-align-justify"></i> <b>SIDE PANEL</b></li>
        <li class="list-group-item"><input class="form-control search-query" placeholder="Search Something" type="text"></li>
         <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.hasSubMenu ==false? menuItem.class:''}}">
         
            <a *ngIf="!menuItem.hasSubMenu" [routerLink]="[menuItem.path]">
                <i class="{{menuItem.icon}}"></i>
                {{menuItem.title}}
            </a>
          
          
           <a *ngIf="menuItem.hasSubMenu" href="#{{menuItem.path}}" class="list-group-item" data-toggle="collapse">
                <i class="{{menuItem.icon}}" ></i>  {{menuItem.title}}  
           </a>
               
         </li>
        
         <li *ngFor="let menuItem1 of menuItems"  class="collapse"  id="{{menuItem1.path}}">
                <a routerLinkActive="active" style="margin-left:20px;" *ngFor="let subMenu  of menuItem1.SubMenus" [routerLink]="[subMenu.path]" class="{{subMenu.class}}">
                        <i class="{{subMenu.icon}}"></i>
                    {{subMenu.title}}</a>
         </li>


        <div >
                
        </div>
        

         <!-- <li>
          <a href="#demo3" class="list-group-item " data-toggle="collapse">Item 3  <span class="glyphicon glyphicon-chevron-right"></span></a>
          <div class="collapse" id="demo3">
            <a href="#SubMenu1" class="list-group-item" data-toggle="collapse">Subitem 1  <span class="glyphicon glyphicon-chevron-right"></span></a>
            <div class="collapse list-group-submenu" id="SubMenu1">
              <a href="#" class="list-group-item">Subitem 1 a</a>
              <a href="#" class="list-group-item">Subitem 2 b</a>
              <a href="#SubSubMenu1" class="list-group-item" data-toggle="collapse">Subitem 3 c <span class="glyphicon glyphicon-chevron-right"></span></a>
              <div class="collapse list-group-submenu list-group-submenu-1" id="SubSubMenu1">
                <a href="#" class="list-group-item">Sub sub item 1</a>
                <a href="#" class="list-group-item">Sub sub item 2</a>
              </div>
              <a href="#" class="list-group-item">Subitem 4 d</a>
            </div>
            <a href="javascript:;" class="list-group-item">Subitem 2</a>
            <a href="javascript:;" class="list-group-item">Subitem 3</a>
          </div>
        </li>
        <li>
          <a href="#demo4" class="list-group-item " data-toggle="collapse">Item 4  <span class="glyphicon glyphicon-chevron-right"></span></a>
            </li><li class="collapse" id="demo4">
              <a href="" class="list-group-item">Subitem 1</a>
              <a href="" class="list-group-item">Subitem 2</a>
              <a href="" class="list-group-item">Subitem 3</a>
            </li> -->
        
      </ul>
  </div>